//
//  Debug.xcconfig
//  MyMovieDiaryiOS
//
//  Created by 이상준 on 2022/10/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MyMovieDiaryiOS/Pods-MyMovieDiaryiOS.debug.xcconfig"

KOBIS_API_KEY = f5eef3421c602c6cb7ea224104795888
NAVER_CLIENT_ID = pQrcK9fOoSR9WT6Pgrk0
NAVER_CLIENT_SECRET = tchXT5lFbO
KAKAO_APP_KEY = c38b8cc602bf7741d30222bdfdc29647
